{
    "presets": [
        ["env", {
            "targets": { 
                "browsers": ["last 2 versions", "safari >= 7"],
                "node": "current"
            },
            "modules": false,
            "debug": false,
            "useBuiltIns": false
        }]
    ],
    "plugins": [
        "transform-decorators-legacy",
        ["transform-runtime", {
            "helpers": false, 
            "polyfill": false, 
            "regenerator": true
        }]
    ]
}