<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title%></title>
    <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.js"></script> -->
</head>
<body>
    <div id="app"></div>
    <div id="postcss"></div>
    <%= require('html-loader!./components/header.html') %>
    <img src="<%= require('./assets/images/favicon.png')%>" />
    <div class="slideTxtBox">
        <div class="hd">
            <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
            <span class="arrow"><a class="next"></a><a class="prev"></a></span>
            <ul><li>教育</li><li>培训</li><li>出国</li></ul>
        </div>
        <div class="bd">
            <ul>
                <li><span class="date">2011-11-11</span><a href="" target="_blank">中国打破了世界软件巨头规则</a></li>
                <li><span class="date">2011-11-11</span><a href="" target="_blank">口语：会说中文就能说英语！</a></li>
                <li><span class="date">2011-11-11</span><a href="" target="_blank">农场摘菜不如在线学外语好玩</a></li>
                <li><span class="date">2011-11-11</span><a href="" target="_blank">数理化老师竟也看学习资料？</a></li>
                <li><span class="date">2011-11-11</span><a href="" target="_blank">学英语送ipad2,45天突破听说</a></li>
                <li><span class="date">2011-11-11</span><a href="" target="_blank">学外语，上北外！</a></li>
                <li><span class="date">2011-11-11</span><a href="" target="_blank">那些无法理解的荒唐事</a></li>
            </ul>
            <ul>
                <li><span class="date">2011-11-11</span><a href="" target="_blank">名师教作文：３妙招巧写高分</a></li>
                <li><span class="date">2011-11-11</span><a href="" target="_blank">耶鲁小子：教你备考SAT</a></li>
                <li><span class="date">2011-11-11</span><a href="" target="_blank">施强：高端专业语言教学</a></li>
                <li><span class="date">2011-11-11</span><a href="" target="_blank">数理化老师竟也看学习资料？</a></li>
                <li><span class="date">2011-11-11</span><a href="" target="_blank">【推荐】名校英语方法曝光！</a></li>
                <li><span class="date">2011-11-11</span><a href="" target="_blank">2012高考“考点”大曝光!!</a></li>
                <li><span class="date">2011-11-11</span><a href="" target="_blank">涨价仍爆棚假日旅游冰火两重天</a></li>
            </ul>
            <ul>
                <li><span class="date">2011-11-11</span><a href="" target="_blank">澳大利亚八大名校招生说明会</a></li>
                <li><span class="date">2011-11-11</span><a href="" target="_blank">2012世界大学排名新鲜出炉</a></li>
                <li><span class="date">2011-11-11</span><a href="" target="_blank">新加坡留学，国际双语课程</a></li>
                <li><span class="date">2011-11-11</span><a href="" target="_blank">高考后留学日本名校随你选</a></li>
                <li><span class="date">2011-11-11</span><a href="" target="_blank">教育培训行业优势资源推介</a></li>
                <li><span class="date">2011-11-11</span><a href="" target="_blank">即刻预约今年最后一场教育展</a></li>
                <li><span class="date">2011-11-11</span><a href="" target="_blank">女友坚持警局完婚不抛弃</a></li>
            </ul>
        </div>
    </div>
</body>
</html>