body{
    margin:0;
    padding:0;
    color:green;
}
#postcss{
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0,0,0,.3);
    width:500px;
    height:600px;
    border:1px solid yellow;
}
